# Operating system
.DS_Store

# editors
.idea/

# project structure
bin/
./main
./juice

# go test related
coverage.out

# npm related
node_modules/
package*.json
!tests/**/package*.json

*.csv
bin/
main
